<a href="https://colab.research.google.com/github/Forrward/LABbl/blob/main/lab1/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("world-data-2023.csv")
df

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [14]:
#Колонки датасета
df.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'Latitude',
       'Longitude'],
      dtype='object')

In [15]:
#Первые 5 значений
df.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [16]:
#Последние 5 значений
df.tail()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

In [17]:
#Статистику по числовым колонкам
df.describe(include="all")

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
count,195,195,188,188,194,171,189.000000,194.000000,192,188,...,188,188.000000,194,176,169,183,176,190,194.000000,194.000000
unique,195,137,188,168,194,105,NaN,NaN,192,184,...,160,NaN,194,145,119,156,164,190,NaN,NaN
top,Afghanistan,25,AF,17.40%,"652,230","2,000",NaN,NaN,Kabul,143,...,40.50%,NaN,"38,041,754",68.80%,19.50%,36.60%,4.59%,"9,797,273",NaN,NaN
freq,1,7,1,3,1,7,NaN,NaN,1,2,...,3,NaN,1,3,4,4,3,1,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,20.214974,360.546392,NaN,NaN,...,NaN,1.839840,NaN,NaN,NaN,NaN,NaN,NaN,19.092351,20.232434
std,NaN,NaN,NaN,NaN,NaN,NaN,9.945774,323.236419,NaN,NaN,...,NaN,1.684261,NaN,NaN,NaN,NaN,NaN,NaN,23.961779,66.716110
min,NaN,NaN,NaN,NaN,NaN,NaN,5.900000,1.000000,NaN,NaN,...,NaN,0.010000,NaN,NaN,NaN,NaN,NaN,NaN,-40.900557,-175.198242
25%,NaN,NaN,NaN,NaN,NaN,NaN,11.300000,82.500000,NaN,NaN,...,NaN,0.332500,NaN,NaN,NaN,NaN,NaN,NaN,4.544175,-7.941496
50%,NaN,NaN,NaN,NaN,NaN,NaN,17.950000,255.500000,NaN,NaN,...,NaN,1.460000,NaN,NaN,NaN,NaN,NaN,NaN,17.273849,20.972652
75%,NaN,NaN,NaN,NaN,NaN,NaN,28.750000,506.750000,NaN,NaN,...,NaN,2.935000,NaN,NaN,NaN,NaN,NaN,NaN,40.124603,48.281523
max,NaN,NaN,NaN,NaN,NaN,NaN,46.080000,1876.000000,NaN,NaN,...,NaN,8.420000,NaN,NaN,NaN,NaN,NaN,NaN,64.963051,178.065032

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?
2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета

In [23]:
#Средние значения
df.mean()

<ipython-input-23-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Birth Rate                   20.214974
Calling Code                360.546392
Fertility Rate                2.698138
Infant mortality             21.332804
Life expectancy              72.279679
Maternal mortality ratio    160.392265
Physicians per thousand       1.839840
Latitude                     19.092351
Longitude                    20.232434
dtype: float64

In [26]:
#Минимальные значения
df.min(numeric_only=True)

Birth Rate                    5.900000
Calling Code                  1.000000
Fertility Rate                0.980000
Infant mortality              1.400000
Life expectancy              52.800000
Maternal mortality ratio      2.000000
Physicians per thousand       0.010000
Latitude                    -40.900557
Longitude                  -175.198242
dtype: float64

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [ ]:
df.astype('int')
df.longitude.astype('float')
df.latitude.astype('float')
df.median_income.astype('float')
df.info()

IntCastingNaNError: ignored

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [ ]:
df[df['Calling Code']<200]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
5,Antigua and Barbuda,223,AG,20.50%,443,0,15.33,1.0,"St. John's, Saint John",557,...,24.30%,2.76,"97,118",NaN,16.50%,43.00%,NaN,"23,800",17.060816,-61.796428
6,Argentina,17,AR,54.30%,"2,780,400","105,000",17.02,54.0,Buenos Aires,"201,348",...,17.60%,3.96,"44,938,712",61.30%,10.10%,106.30%,9.79%,"41,339,571",-38.416097,-63.616672
8,Australia,3,AU,48.20%,"7,741,220","58,000",12.60,61.0,Canberra,"375,908",...,19.60%,3.68,"25,766,605",65.50%,23.00%,47.40%,5.27%,"21,844,756",-25.274398,133.775136
9,Austria,109,AT,32.40%,"83,871","21,000",9.70,43.0,Vienna,"61,448",...,17.90%,5.17,"8,877,067",60.70%,25.40%,51.40%,4.67%,"5,194,416",47.516231,14.550072
11,The Bahamas,39,BS,1.40%,"13,880","1,000",13.97,1.0,"Nassau, Bahamas","1,786",...,27.80%,1.94,"389,482",74.60%,14.80%,33.80%,10.36%,"323,784",25.034280,-77.396280
14,Barbados,668,BB,23.30%,430,"1,000",10.65,1.0,Bridgetown,"1,276",...,45.20%,2.48,"287,025",65.20%,27.50%,35.60%,10.33%,"89,431",13.193887,-59.543198
16,Belgium,383,BE,44.60%,"30,528","32,000",10.30,32.0,City of Brussels,"96,889",...,17.60%,3.07,"11,484,055",53.60%,24.00%,55.40%,5.59%,"11,259,082",50.503887,4.469936
23,Brazil,25,BR,33.90%,"8,515,770","730,000",13.92,55.0,Bras���,"462,299",...,28.30%,2.15,"212,559,417",63.90%,14.20%,65.10%,12.08%,"183,241,641",-14.235004,-51.925280
32,Canada,4,CA,6.90%,"9,984,670","72,000",10.10,1.0,Ottawa,"544,894",...,14.60%,2.61,"36,991,981",65.10%,12.80%,24.50%,5.56%,"30,628,482",56.130366,-106.346771
35,Chile,26,CL,21.20%,"756,096","122,000",12.43,56.0,Santiago,"85,822",...,32.20%,2.59,"18,952,038",62.60%,18.20%,34.00%,7.09%,"16,610,135",-35.675147,-71.542969
36,China,153,CN,56.20%,"9,596,960","2,695,000",10.90,86.0,Beijing,"9,893,038",...,32.40%,1.98,"1,397,715,000",68.00%,9.40%,59.20%,4.32%,"842,933,962",35.861660,104.195397
37,Colombia,46,CO,40.30%,"1,138,910","481,000",14.88,57.0,Bogot�,"97,814",...,18.30%,2.18,"50,339,443",68.80%,14.40%,71.20%,9.71%,"40,827,302",4.570868,-74.297333
42,Cuba,106,CU,59.90%,"110,860","76,000",10.17,53.0,Havana,"28,284",...,NaN,8.42,"11,333,483",53.60%,NaN,NaN,1.64%,"8,739,135",21.521757,-77.781167
46,Denmark,137,DK,62.00%,"43,094","15,000",10.60,45.0,Copenhagen,"31,786",...,13.70%,4.01,"5,818,553",62.20%,32.40%,23.80%,4.91%,"5,119,978",56.263920,9.501785
48,Dominica,96,DM,33.30%,751,NaN,12.00,1.0,Roseau,180,...,28.40%,1.08,"71,808",NaN,22.10%,32.60%,NaN,"50,830",15.414999,-61.370976
49,Dominican Republic,225,DO,48.70%,"48,670","71,000",19.51,1.0,Santo Domingo,"25,258",...,43.70%,1.56,"10,738,958",64.30%,13.00%,48.80%,5.84%,"8,787,475",18.735693,-70.162651
51,Egypt,103,EG,3.80%,"1,001,450","836,000",26.38,20.0,Cairo,"238,560",...,62.00%,0.45,"100,388,073",46.40%,12.50%,44.40%,10.76%,"42,895,824",26.820553,30.802498
60,France,119,FR,52.40%,"643,801","307,000",11.30,33.0,Paris,"303,276",...,6.80%,3.27,"67,059,887",55.10%,24.20%,60.70%,8.43%,"54,123,364",46.227638,2.213749
64,Germany,240,DE,47.70%,"357,022","180,000",9.50,49.0,Berlin,"727,973",...,12.50%,4.25,"83,132,799",60.80%,11.50%,48.80%,3.04%,"64,324,835",51.165691,10.451526
66,Greece,81,GR,47.60%,"131,957","146,000",8.10,30.0,Athens,"62,434",...,35.50%,5.48,"10,716,322",51.80%,26.20%,51.90%,17.24%,"8,507,474",39.074208,21.824312
67,Grenada,331,GD,23.50%,349,NaN,16.47,1.0,"St. George's, Grenada",268,...,57.00%,1.41,"112,003",NaN,19.40%,47.80%,NaN,"40,765",12.116500,-61.679000
75,Hungary,107,HU,58.40%,"93,028","40,000",9.60,36.0,Budapest,"45,537",...,29.00%,3.41,"9,769,949",56.50%,23.00%,37.90%,3.40%,"6,999,582",47.162494,19.503304
77,India,464,IN,60.40%,"3,287,263","3,031,000",17.86,91.0,New Delhi,"2,407,672",...,65.10%,0.86,"1,366,417,754",49.30%,11.20%,49.70%,5.36%,"471,031,528",20.593684,78.962880
78,Indonesia,151,ID,31.50%,"1,904,569","676,000",18.07,62.0,Jakarta,"563,325",...,48.30%,0.43,"270,203,917",67.50%,10.20%,30.10%,4.69%,"151,509,724",-0.789275,113.921327
79,Iran,52,IR,28.20%,"1,648,195","563,000",18.78,98.0,Tehran,"661,710",...,39.70%,1.58,"82,913,906",44.70%,7.40%,44.70%,11.38%,"62,509,623",32.427908,53.688046
83,Italy,206,IT,43.20%,"301,340","347,000",7.30,39.0,Rome,"320,411",...,22.80%,3.98,"60,297,396",49.60%,24.30%,59.10%,9.89%,"42,651,966",41.871940,12.567380
85,Japan,347,JP,12.30%,"377,944","261,000",7.40,81.0,Tokyo,"1,135,886",...,13.10%,2.41,"126,226,568",61.70%,11.90%,46.70%,2.29%,"115,782,416",36.204824,138.252924
87,Kazakhstan,7,KZ,80.40%,"2,724,900","71,000",21.77,7.0,Astana,"247,207",...,38.80%,3.25,"18,513,930",68.80%,11.70%,28.40%,4.59%,"10,652,915",48.019573,66.923684
103,Malaysia,99,MY,26.30%,"329,847","136,000",16.75,60.0,Kuala Lumpur,"248,289",...,36.70%,1.51,"32,447,385",64.30%,12.00%,38.70%,3.32%,"24,475,766",4.210484,101.975766
110,Mexico,66,MX,54.60%,"1,964,375","336,000",17.60,52.0,Mexico City,"486,406",...,41.40%,2.38,"126,014,024",60.70%,13.10%,55.10%,3.42%,"102,626,859",23.634501,-102.552784
118,Myanmar,83,MM,19.50%,"676,578","513,000",17.55,95.0,Naypyidaw,"25,280",...,73.90%,0.68,"54,045,420",61.70%,5.40%,31.20%,1.58%,"16,674,093",21.916221,95.955974
122,Netherlands,508,NL,53.30%,"41,543","41,000",9.70,31.0,Amsterdam,"170,780",...,12.30%,3.61,"17,332,850",63.60%,23.00%,41.20%,3.20%,"15,924,729",52.132633,5.291266
123,New Zealand,18,NZ,40.50%,"268,838","9,000",11.98,64.0,Wellington,"34,382",...,12.60%,3.59,"4,841,000",69.90%,29.00%,34.60%,4.07%,"4,258,860",-40.900557,174.885971
129,Norway,15,NO,2.70%,"323,802","23,000",10.40,47.0,Oslo,"41,023",...,14.30%,2.92,"5,347,896",63.80%,23.90%,36.20%,3.35%,"4,418,218",60.472024,8.468946
131,Pakistan,287,PK,47.80%,"796,095","936,000",28.25,92.0,Islamabad,"201,150",...,66.50%,0.98,"216,565,318",52.60%,9.20%,33.90%,4.45%,"79,927,762",30.375321,69.345116
137,Peru,26,PE,18.50%,"1,285,216","158,000",17.95,51.0,Lima,"57,414",...,30.90%,1.27,"32,510,453",77.60%,14.30%,36.80%,3.31%,"25,390,339",-9.189967,-75.015152
138,Philippines,368,PH,41.70%,"300,000","153,000",20.55,63.0,Manila,"122,287",...,53.50%,0.60,"108,116,615",59.60%,14.00%,43.10%,2.15%,"50,975,903",12.879721,121.774017
139,Poland,124,PL,46.90%,"312,685","191,000",10.20,48.0,Warsaw,"299,037",...,23.20%,2.38,"37,970,874",56.70%,17.40%,40.80%,3.47%,"22,796,574",51.919438,19.145136
142,Romania,84,RO,58.80%,"238,391","126,000",9.60,40.0,Bucharest,"69,259",...,21.30%,2.98,"19,356,544",54.70%,14.60%,20.00%,3.98%,"10,468,793",45.943161,24.966760
143,Russia,9,RU,13.30%,"17,098,240","1,454,000",11.50,7.0,Moscow,"1,732,027",...,36.40%,4.01,"144,373,535",61.80%,11.40%,46.20%,4.59%,"107,683,889",61.524010,105.318756
145,Saint Kitts and Nevis,205,KN,23.10%,261,NaN,12.60,1.0,Basseterre,238,...,56.60%,2.52,"52,823",NaN,18.50%,49.70%,NaN,"16,269",17.357822,-62.782998
146,Saint Lucia,301,LC,17.40%,616,NaN,12.00,1.0,Castries,414,...,48.40%,0.64,"182,790",67.10%,18.20%,34.70%,20.71%,"34,280",13.909444,-60.978893
147,Saint Vincent and the Grenadines,284,VC,25.60%,389,NaN,14.24,1.0,Kingstown,220,...,21.40%,0.66,"100,455",65.90%,25.40%,37.00%,18.88%,"58,185",12.984305,-61.287228
156,Singapore,"8,358",SG,0.90%,716,"81,000",8.80,65.0,NaN,"37,535",...,36.70%,2.29,"5,703,569",70.50%,13.10%,21.00%,4.11%,"5,703,569",1.352083,103.819836
161,South Africa,49,ZA,79.80%,"1,219,090","80,000",20.51,27.0,Pretoria,"476,644",...,7.70%,0.91,"58,558,270",56.00%,27.50%,29.20%,28.18%,"39,149,717",-30.559482,22.937506
162,South Korea,527,KR,17.40%,"99,720","634,000",6.40,82.0,Seoul,"620,302",...,36.80%,2.36,"51,709,098",63.00%,15.60%,33.20%,4.15%,"42,106,719",35.907757,127.766922
164,Spain,94,ES,52.60%,"505,370","196,000",7.90,34.0,Madrid,"244,002",...,24.20%,3.87,"47,076,781",57.50%,14.20%,47.00%,13.96%,"37,927,409",40.463667,-3.749220
165,Sri Lanka,341,LK,43.70%,"65,610","317,000",15.83,94.0,Colombo,"23,362",...,38.40%,1.00,"21,803,000",53.90%,11.90%,55.20%,4.20%,"4,052,088",7.873054,80.771797
168,Sweden,25,SE,7.40%,"450,295","30,000",11.40,46.0,Stockholm,"43,252",...,15.20%,3.98,"10,285,453",64.60%,27.90%,49.10%,6.48%,"9,021,165",60.128161,18.643501
169,Switzerland,219,CH,38.40%,"41,277","21,000",10.00,41.0,Bern,"34,477",...,28.30%,4.30,"8,574,832",68.30%,10.10%,28.80%,4.58%,"6,332,428",46.818188,8.227512
173,Thailand,137,TH,43.30%,"513,120","455,000",10.34,66.0,Bangkok,"283,763",...,11.80%,0.81,"69,625,582",67.30%,14.90%,29.50%,0.75%,"35,294,600",15.870032,100.992541
177,Trinidad and Tobago,273,TT,10.50%,"5,128","4,000",12.94,1.0,Port of Spain,"43,868",...,37.30%,4.17,"1,394,973",60.00%,19.50%,40.50%,2.69%,"741,944",10.691803,-61.222503
179,Turkey,110,TR,49.80%,"783,562","512,000",16.03,90.0,Ankara,"372,725",...,16.90%,1.85,"83,429,615",52.80%,17.90%,42.30%,13.49%,"63,097,818",38.963745,35.243322
185,United Kingdom,281,GB,71.70%,"243,610","148,000",11.00,44.0,London,"379,025",...,14.80%,2.81,"66,834,405",62.80%,25.50%,30.60%,3.85%,"55,908,316",55.378051,-3.435973
186,United States,36,US,44.40%,"9,833,517","1,359,000",11.60,1.0,"Washington, D.C.","5,006,302",...,11.10%,2.61,"328,239,523",62.00%,9.60%,36.60%,14.70%,"270,663,028",37.090240,-95.712891
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199

In [ ]:
#Фильтр колонки 2

In [ ]:
#Фильтр колонки 3

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [ ]:
#Группировка

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [ ]:
#Агрегация